# ==========================================
# Configurações do Banco de Dados (MariaDB)
# ==========================================
MARIADB_RANDOM_ROOT_PASSWORD=yes
MYSQL_DATABASE=anonaddy
MYSQL_USER=anonaddy
MYSQL_PASSWORD=alterar_para_uma_senha_segura

# ==========================================
# Configurações do Serviço Addy
# ==========================================
APP_NAME=addy.io
APP_ENV=production
APP_KEY=base64:sua_chave_base64_aqui
APP_DEBUG=false
APP_URL=https://addy.example.com

# Domínio principal e Hostname
ANONADDY_DOMAIN=example.com
ANONADDY_HOSTNAME=addy.example.com
ANONADDY_SECRET=

# Configurações de E-mail
MAIL_FROM_ADDRESS=addy@example.com
MAIL_FROM_NAME=addy.io
